[submodule "ecmascript/test262-parser-tests"]
	path = crates/swc_ecma_parser/tests/test262-parser
	url = ssh://git@github.com/DependencyCodeEditorLand/Test262ParserTests.git
	shallow = true
	ignore = dirty
	ignore = all
[submodule "html/html5lib-tests"]
	path = crates/swc_html_parser/tests/html5lib-tests
	url = ssh://git@github.com/DependencyCodeEditorLand/HTML5LibTests.git
    shallow = true
    ignore = dirty
    ignore = all
[submodule "crates/swc_ecma_transforms_proposal/tests/decorator-tests"]
	path = crates/swc_ecma_transforms_proposal/tests/decorator-tests
	url = ssh://git@github.com/DependencyCodeEditorLand/DecoratorTests.git
	ignore = all
